{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}Fashion5{% endblock%}</title>
    <link rel="stylesheet" href="{% static '/css/bootstrap.min.css' %}" />
    <link rel="stylesheet" href="{% static '/css/site.css' %}" />

    <script type="text/javascript">

      var user = '{{request.user}}'
      // ########################################################
      function gettoken(name) {
        var cookieValue = null;

        if (document.cookie && document.cookie !== ''){

           var cookies = document.cookie.split(';');

           for (let index = 0; index < cookies.length; index++) {
             const cookie = cookies[index].trim();

             if (cookie.substring(0,name.length + 1) === (name + '=')) {
               cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
               break;
             }
             
           }
        }
        return cookieValue;
      }
      var csrftoken = gettoken('csrftoken');
      // ########################################################
    </script>

  </head>
      <!-- ######################################################## -->

  <body>
    {% include 'navbar.html'%}
    <div class="container-fluid">
      <main role="main" class="pb-3">{% block content%} {% endblock%}</main>
    </div>
    {% include 'footer.html'%}
    <script src="{% static '/jquery/dist/jquery.min.js' %}"></script>
    <script src="{% static '/js/bootstrap.bundle.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'cart.js' %}"></script>
  </body>
</html>
